.button {
    color: #4A4A4A;
    border: 1px solid #4A4A4A;
    background-color: rgb(212, 190, 156);
    padding: 8px 24px;
    border-radius: 50px;
    margin: 16px;
    font-weight: lighter;
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  
  .button:hover {
    color: rgb(212, 190, 156);
    background-color: #4A4A4A;
     opacity: 1;
     transition: 1s;
    }
   

  .btn-flat {
    color: white;
    padding: 8px 24px;
    border-radius: 4px;
    background: #670BFF;
    transition: background 0,3 ease;
  }
  
  .btn-flat:hover {
    background: #4D04C4;
    color: white;
  }

  .bouton-lien {
    color: black;
  }
  .bouton-lien:hover{
    color: rgb(212, 190, 156);
    transition: 0.5s;
  }